# Trashcan
/_old

# Output dir of Electron Forge
/out

# Node
/node_modules

# Generated Temp File
temp.json

# LibreHardwareMonitor Source
/LibreHardwareMonitor_Source

# Native Addon Build Artifacts
js/libre_hardware_addon/
bin/*.exe
