[submodule "js/electron_helper"]
	path = js/electron_helper
	url = https://github.com/herrbasan/electron_helper.git
[submodule "html/nui"]
	path = html/nui
	url = https://github.com/herrbasan/nui.git
[submodule "js/drivers.gpu.control-library"]
	path = js/drivers.gpu.control-library
	url = https://github.com/herrbasan/drivers.gpu.control-library.git
