# Trashcan
/_old

# Output dir of Electron Forge
/out

# Node
/node_modules

# Generated Temp File
temp.json

# LibreHardwareMonitor Source
/LibreHardwareMonitor_Source

# N-API Integration Test Repo
/LibreHardwareMonitor_NativeNodeIntegration