/* #################################################################################################
 * #################################################################################################
 * Main
 * #################################################################################################
 * ################################################################################################# */


.nui-app {
	--sidebar-width: 35rem;
}

html {
	font-size: 14px;
}

body {
	font-size: 1rem;
}

.nui-app .content main {
	overflow: hidden;
}
.nui-app .content main section {
	
}





.hm_main .sidebar {
	position: absolute;
	inset: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

.hm_main .hm_head {
	display: block;
	color: var(--color-text);
}

.hm_main .hm_hardware_type {
	margin-bottom: 1rem;
}

.hm_main .hm_hardware_type > .hm_head{
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 200;
	color: var(--color-text-shade0);
}

.hm_main .hm_hardware {
	margin-bottom: 1rem;
}

.hm_main .hm_hardware > .hm_head {
	margin-bottom: 1rem;
	color: var(--color-highlight);
}

.hm_main .hm_sensor_type {
	margin-bottom: 1rem;
}
.hm_main .hm_sensor_type .hm_head{
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	border-bottom: solid thin var(--color-text-shade0);
}
.hm_main .hm_sensor {
	display: grid;
	grid-template-columns: 20rem auto;
	align-items: center;
}
